<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frog.mapper.PastureBatchMapper">

    <resultMap type="PastureBatch" id="PastureBatchResult">
        <result property="batchId"    column="batch_id"    />
        <result property="batchName"    column="batch_name"    />
        <result property="speciesId"    column="fish_species_id"    />
        <result property="landId"    column="land_id"    />
        <result property="cropArea"    column="fish_pasture_area"    />
        <result property="startTime"    column="start_time"    />
        <result property="batchHead"    column="batch_head"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="fishSpeciesImg"    column="fish_species_img"    />
        <result property="contractAddress"    column="contract_addr"    />
    </resultMap>

    <sql id="selectPastureBatchVo">
        select batch_head,batch_id, batch_name, fish_species_id, land_id, fish_pasture_area, start_time, remark, status, order_num, create_by, create_time, update_by, update_time,  contract_addr, del_flag from fish_pasture_batch
    </sql>

    <select id="selectPastureBatchList" parameterType="PastureBatch" resultMap="PastureBatchResult">
        SELECT b.*,g.fish_species_img FROM fish_pasture_batch b LEFT JOIN fish_species g on b.fish_species_id =
        g.species_id
        <where>
            <if test="batchName != null  and batchName != ''">and b.batch_name like concat('%', #{batchName}, '%')</if>
            <if test="speciesId != null ">and b.fish_species_id = #{speciesId}</if>
            <if test="landId != null ">and b.land_id = #{landId}</if>
            <if test="batchHead != null and batchHead != ''">and b.batch_head = #{batchHead}</if>
            <if test="contractAddress != null and contractAddress != ''">and b.contract_addr = #{contractAddress}</if>
            <if test="status != null ">and b.status > 0 </if>
            and b.del_flag = 0
        </where>
        order by create_time desc
    </select>

    <select id="selectPastureBatchByBatchId" parameterType="Long" resultMap="PastureBatchResult">
        <include refid="selectPastureBatchVo"/>
        where batch_id = #{batchId}
    </select>
    <select id="selectPastureBatchByLandId" parameterType="Long" resultMap="PastureBatchResult">
        <include refid="selectPastureBatchVo"/>
        where land_id = #{LandId}
    </select>

    <insert id="insertPastureBatch" parameterType="PastureBatch" useGeneratedKeys="true" keyProperty="batchId">
        insert into fish_pasture_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchName != null and batchName != ''">batch_name,</if>
            <if test="speciesId != null">fish_species_id,</if>
            <if test="landId != null">land_id,</if>
            <if test="cropArea != null">fish_pasture_area,</if>
            <if test="startTime != null">start_time,</if>
            <if test="batchHead != null">batch_head,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="contractAddress != null">contract_addr,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchName != null and batchName != ''">#{batchName},</if>
            <if test="speciesId != null">#{speciesId},</if>
            <if test="landId != null">#{landId},</if>
            <if test="cropArea != null">#{cropArea},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="batchHead != null">#{batchHead},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="contractAddress != null">#{contractAddress},</if>
        </trim>
    </insert>

    <update id="updatePastureBatch" parameterType="PastureBatch">
        update fish_pasture_batch
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchName != null and batchName != ''">batch_name = #{batchName},</if>
            <if test="speciesId != null">fish_species_id = #{speciesId},</if>
            <if test="landId != null">land_id = #{landId},</if>
            <if test="cropArea != null">fish_pasture_area = #{cropArea},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="batchHead != null">batch_head = #{batchHead},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="contractAddress != null">contract_addr = #{contractAddress},</if>
        </trim>
        where batch_id = #{batchId}
    </update>

    <update id="updatePastureBatch" parameterType="PastureBatch">
        update fish_pasture_batch
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchName != null and batchName != ''">batch_name = #{batchName},</if>
            <if test="speciesId != null">fish_species_id = #{speciesId},</if>
            <if test="landId != null">land_id = #{landId},</if>
            <if test="cropArea != null">fish_pasture_area = #{cropArea},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="batchHead != null">batch_head = #{batchHead},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="contractAddress != null">contract_addr = #{contractAddress},</if>
        </trim>
        where batch_id = #{batchId}
    </update>

    <update id="deletePastureBatchByBatchId" parameterType="Long">
        update fish_pasture_batch set del_flag = 2 where batch_id = #{batchId}
    </update>

    <update id="deletePastureBatchByBatchIds" parameterType="String">
        update fish_pasture_batch set del_flag = 2 where batch_id in
        <foreach item="batchId" collection="array" open="(" separator="," close=")">
            #{batchId}
        </foreach>
    </update>
    <!-- 给手机端批次列表查询数据   -->
    <select id="selectPastureBatchListToMobile" parameterType="PastureBatch" resultType="java.util.Map">
        select a.batch_id as batchId,a.batch_name as batchName,a.fish_pasture_area as cropArea,date_format(a.start_time,'%Y-%m-%d') as startTime,b.germplasm_img as germplasmImg,b.germplasm_name as germplasmName,(case when c.employee_name is not null then c.employee_name else '暂无负责人' end) as headName,d.land_name as landName,
        sum(case when e.status is not null then 1 else 0 end) as allTaskCount,sum(case when e.status = 3 then 1 else 0 end) as finishedTaskCount
        from fish_pasture_batch a
        left join fish_species b on a.fish_species_id = b.species_id
        left join agriculture_employee c on a.batch_head = c.employee_id
        left join agriculture_land d on a.land_id = d.land_id
        left join agriculture_batch_task e on a.batch_id = e.batch_id
        <where>
            <if test="batchName != null  and batchName != ''"> and a.batch_name like concat('%', #{batchName}, '%')</if>
            <if test="batchHead != null  and batchHead != ''"> and a.batch_head = #{batchHead}</if>
            and b.del_flag = 0
        </where>

        group by a.batch_id,a.batch_name,a.fish_pasture_area,a.start_time,b.germplasm_name,c.employee_name,d.land_name
    </select>
</mapper>